absl-py==2.4.0
audio-separator==0.41.1
audioread==3.1.0
beartype==0.18.5
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
diffq-fixed==0.2.4
einops==0.8.2
filelock==3.20.3
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2026.2.0
humanfriendly==10.0
idna==3.11
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
jsonpickle==4.1.1
julius==0.2.7
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.46.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mido==1.3.3
mir_eval==0.8.2
ml_collections==1.1.0
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
music21==9.9.1
networkx==3.4.2
numba==0.63.1
numpy==2.2.6
onnx-weekly==1.21.0.dev20260112
onnx2torch-py313==1.6.0
onnxruntime==1.23.2
packaging==26.0
pillow==12.1.0
platformdirs==4.5.1
pooch==1.9.0
pretty_midi==0.2.11
protobuf==6.33.5
pycparser==3.0
pydub==0.25.1
pyparsing==3.3.2
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
resampy==0.4.3
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
soundfile==0.13.1
soxr==1.0.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
webcolors==25.10.0
